on:
  pull_request:
    branches: ["*"]
name: CI
permissions:
  contents: read
  pull-requests: read
jobs:
  checks:
    name: ${{ matrix.check }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        check: [formatting, vet, test]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: true

      - name: Run just lint
        if: ${{ matrix.check == 'lint' }}
        run: devbox run -- just lint

      - name: Run just vet
        if: ${{ matrix.check == 'vet' }}
        run: devbox run -- just vet

      - name: Run just build
        if: ${{ matrix.check == 'build' }}
        run: devbox run -- just build

      - name: Run just test
        if: ${{ matrix.check == 'test' }}
        run: devbox run -- just test
