on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      # Create a release using the release-please action.
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          release-type: go

      # Checkout the repository.
      - uses: actions/checkout@v6
        if: ${{ steps.release.outputs.release_created }}
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      # Install Devbox
      - name: Install Devbox
        if: ${{ steps.release.outputs.release_created }}
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: true

      # Build artifacts for multiple platforms using Just
      - name: Build nvs artifacts
        if: ${{ steps.release.outputs.release_created }}
        run: devbox run -- just release-ci ${{ steps.release.outputs.tag_name }}

      # Generate SHA256 checksum files for each artifact
      - name: Generate Checksums
        if: ${{ steps.release.outputs.release_created }}
        run: |
          cd build
          for file in nvs-*; do
              shasum -a 256 "$file" | awk '{print $1}' > "$file.sha256"
          done
          ls -l

      # Upload release artifacts and their respective checksum files
      - name: Upload Release Artifacts
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
        run: |
          for file in build/nvs-*; do
              if [[ "$file" != *.sha256 ]]; then
                  gh release upload "${{ steps.release.outputs.tag_name }}" "$file"
                  gh release upload "${{ steps.release.outputs.tag_name }}" "$file.sha256"
              fi
          done
